<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="~{fragments/fragments :: head('pills')}"></head>

<body>

	<header th:insert="~{fragments/fragments :: navbar('index')}"></header>

	<main class="container">
		<div class="row flex-column pt-2">
			<!-- Pill list -->
			<th:block th:each="pill : ${pills}">
				<!-- Pill title -->
				<div th:id="${pill.id}" class="card text-bg-primary p-1 mt-4 rounded-5" style="width: fit-content;">
					<div class="card-body p-2">
						<h4 class="card-title my-0 mx-3" th:text="${pill.name}"></h4>
					</div>
				</div>
				<!-- Pill content -->
				<div class="card text-bg-success p-1 mt-2" style="width: fit-content;">
					<div class="card-body p-2">
						<h5 class="card-title my-0 mx-3" th:text="${pill.content}"></h5>
					</div>
				</div>
			</th:block>
		</div>
	</main>

	<footer>
		<th:block th:replace="~{fragments/fragments :: scripts}"></th:block>
	</footer>

</body>

</html>